body{color:#333;font-weight:300;font-size:18px/18px;background:#fff;-webkit-font-smoothing:antialiased;}

.container-fluid { padding:0px }

html body a, html body a:hover {text-decoration:none;}
.btn,a,.btn:hover,a:hover, .thumbnail *, .thumbnail:hover * {
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
outline: none !important;
}

h1,h2,h3,h4 {margin: 0;line-height: 1em;}
h1 {font-weight:400; font-size:4.5vw;}
h1.page-header { margin:0;text-transform: uppercase; padding: 80px 15% 4vw 15%; text-align:center;background:#333;color:#eee;}
h2.block-title::before {
	content:" ";
    border-bottom: #888 solid 1px;
    display: block;
    width: 50vw;
    margin: 1em auto 1em;
}
.navbar-brand {font-size: 3em; font-weight: 300;position: relative;}
.lead {display: block; position: absolute!important;
    z-index: 5;
    color: white;
    font-weight: 300;
	left:1em;
	font-size: 1em;
	top:2.5em;
}

h2 {font-weight:300; font-size:2em;padding:0.5em 0; text-align:center; text-transform:uppercase;}
h3 {font-weight:300; font-size:1.5em;padding:2em 15% 1em 15%;line-height: 1.3em;}
h4 {font-weight:300; font-size:1.3em;padding: 2em 15% 1em 15%;}
h4 i {margin-right: 0.5em;}

p {font-size:1em;line-height: 1.7em; margin-bottom: 1.7em;}

.spacer {padding: 6em 0;}

/* Empty view*/
/*.view-empty::after { content: "VIEW EMPTY!!!!"; height: 3em; color:white;background:red;display:block;width:100%; text-align:center;font-size:10em;}*/

.btn{border:none;border-radius: 4px; /*padding: 1em 4em;*/ background: rgba(0,0,0,0.5);text-transform: uppercase;}
.btn:hover,.btn:active{color: #fff;}
.btn-default{color: #ccc;border: 1px solid #aaa;}
.btn-default:hover,.btn-default:active{background: transparent rgba(0,0,0,0.8);}
/*.btn-primary{border:solid 1px #e89f10;color: #fff;background:#e89f10;width: 100%;outline: none;}*/
.btn-primary{color: #000;background:rgba(200,200,200,0.5);width: 100%;outline: none;height: 32px!important}
/*.btn-primary:hover,.btn-primary:active,.btn-primary:focus{background:#f3c024;box-shadow: none;}*/
.btn-primary:hover,.btn-primary:active,.btn-primary:focus{background:rgba(200,200,200,0.5);box-shadow: none;}

/* Navbar / Menu */

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {margin-right: 0px!important;}

.navbar { margin-bottom: 0; position: absolute;width:100%; padding-left: 1em; font-stretch:semi-expanded; }
.navbar-static-top { border: none !important; height: 7em;}
.navbar-inverse { 
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,3d3d3d+100&0.65+0,0.45+33,0.15+73,0.05+90,0+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(20,20,20,0.45) 33%, rgba(44,44,44,0.15) 73%, rgba(55,55,55,0.05) 90%, rgba(61,61,61,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(20,20,20,0.45) 33%,rgba(44,44,44,0.15) 73%,rgba(55,55,55,0.05) 90%,rgba(61,61,61,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(20,20,20,0.45) 33%,rgba(44,44,44,0.15) 73%,rgba(55,55,55,0.05) 90%,rgba(61,61,61,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#003d3d3d',GradientType=0 ); /* IE6-9 */
}
.navbar-inverse .dropdown-menu {background: rgba(0,0,0, 0.9)}
.navbar-inverse .dropdown-menu a:hover { color:#111 !important }
.logged-in.not-front .navbar {position:static;}
.logged-in .region-navigation {float:right;width:50%;}

/*menu active link*/
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  background: none;color: #E89F10;font-weight:bold;
}
/*menu links*/
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  background: none;color: #e3e3e3; font-weight:bold;
}
.navbar-inverse .dropdown-menu > li > a { color : #e3e3e3; font-weight:bold }

/*language-selector*/
#block-locale-language > h2{ display: none;}

.language-switcher-locale-url { padding:15px;float:right;margin: 0;}
.language-switcher-locale-url>li, 
.language-switcher-locale-url>li img {  list-style-type: none; display:inline;vertical-align:baseline;width:16px;height:12px;}

.language-switcher-locale-url>li>.language-link {font-size:0;}
.language-switcher-locale-url>li>.locale-untranslated { opacity:0.4;}

/* Search form */

#block-search-form { margin: 0; clear: none!important;position:relative;padding-right:5px;}
.navbar #block-search-form { float:right; }
#block-search-form input {background-color: #fff;color: #000; font-weight: 400;height: 32px; position:absolute; right:0; top:100%; min-width: 10em; display:none; opacity: 0; transition:all 1s; -webkit-transition: all 1s;}
#block-search-form .input-group:hover input, #block-search-form .input-group input:focus { width: auto; opacity: 0.8; display:block; transition:all 1s; -webkit-transition: all 1s; }
#block-search-form .input-group-btn:last-child > .btn{ border-radius: 4px}

/* front page */
.front h1.page-header { display:none;}

/*front page carousel*/
.view-slideshowd {position:relative;overflow:hidden;max-height:100vh;width:100%; margin:0;padding:0;}
.carousel, .carousel .item { overflow:hidden;max-height:100vh;width:100%;}
.carousel-inner>.item { text-align:center; }
.carousel .carousel-inner>.item a { overflow:hidden;max-height:100vh;width:100%; }
.carousel .carousel-inner>.item a>img { width:100%; margin:0 auto;z-index:-1;}
.carousel-indicators { display: none; }
.carousel .item>.carousel-caption>h3 { font-size:4vw; line-height: 1.05em; font-weight: 300; text-shadow: 2 2 1px #000; padding:0;margin:0;}
.carousel .item>.carousel-caption { margin:0;padding:0;position:static;}
.carousel .item>.carousel-caption h3 a { display:block; position:absolute; left:0;right:0;bottom:0; max-height:100vh; padding: 0 5em 1em 5em; color: #fff; padding-top:3em;line-height:1.1em;background:transparent;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.05+12,0.15+26,0.4+63,0.65+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 12%, rgba(0,0,0,0.15) 26%, rgba(0,0,0,0.4) 63%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 12%,rgba(0,0,0,0.15) 26%,rgba(0,0,0,0.4) 63%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 12%,rgba(0,0,0,0.15) 26%,rgba(0,0,0,0.4) 63%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

a.skip-link { position:absolute; bottom:15px;left:0;right:0;font-size:30px; font-weight:100; color:#fff;opacity:0.5;line-height:1.2em; text-align:center;z-index:2;}


/* main section */
.row { margin: 0 !important }
.front .main-container section.col-sm-12 { margin-top:1em;}
.main-container section.col-sm-12 { padding : 0;}


/* Thumbnail effect - overlay text on the image */
.thumbnail { padding: 0; margin:0; border-radius: 0; position: relative; border: none; background:transparent; }
.thumbnail a {display:block;position:relative;}
.thumbnail img { width: 100%;}
.thumbnail .caption { position: absolute;bottom:0;}
.thumbnail .caption > h3 { position: absolute; font-size: 1.2vw;left: 0; bottom:0; right:0;padding:5px;text-align: justify;text-align-last: center;}
.thumbnail .caption > h3 > a { display:block;font-size: inherit; text-transform: uppercase; line-height:1.1em; padding: 1em 1em 1em 1em; text-shadow:0 0 6px #000;color: #eef;}
.thumbnail .caption > a { display:none;}
.thumbnail p { display:none }

.thumbnail .caption > h3 > a:hover { color: #fff; }

/* Gallery - without padding */
.x-gallery .row { margin: 0 }
.x-gallery .col { padding: 0; margin: 0; border: none; overflow: hidden; border-radius:0 }
.x-gallery .col .caption { left: 0; right: 0; }
.x-gallery .thumbnail>a::after {top:0;bottom:0;left:0;right:0;}

/* Articles - with padding */
.x-articles { padding: 15px; }
.x-articles .col { border: none;  border-radius:0; text-align:center; }
.x-articles .col .caption { left: 0; right: 0; }
.x-articles .thumbnail { padding: 1.5vw; }
.x-articles .thumbnail .caption>h3 { right:1.5vw;bottom:1.5vw;left:1.5vw; }
.x-articles .thumbnail>a::after {top:0;bottom:0;left:0;right:0;}
/*.x-articles .thumbnail>a::after { top:1.5vw;right:1.5vw;bottom:1.5vw;left:1.5vw;}*/

/* Videos - with padding */
.x-videos { padding: 15px; }
.x-videos .col { border: none;  border-radius:0; text-align:center; }
.x-videos .thumbnail .caption { position: static; }
.x-videos .thumbnail { padding: 1.5vw; }
.x-videos .thumbnail .caption>h3 { position: static; text-align: justify; text-align-last: center; margin:0; padding:0;}
.x-videos .thumbnail .caption > a { display:block; position:static;}
.x-videos .thumbnail .caption > h3 > a { 
	display:block;font-size: inherit; 
	line-height:1.3em;
	text-transform: none;
	text-shadow:none;color: #333;}
.x-videos .thumbnail .caption .play-btn, .x-videos .thumbnail .caption .play-btn>a:hover{
	font-size: 3.5vw;
	text-shadow:0 0 6px #000;color: #eef;
	position:absolute;top:0;left:0;right:0;margin:7vw;
	text-align:center;display: block;
}	
.x-videos .thumbnail:hover .caption > h3 > a { text-shadow: 0 0 2px #ccc; }
	
/* Teaser */
article.node-teaser { position: relative; padding:1.5vw;}
article.node-teaser div.field-item>a { display:block;position: relative; }
article.node-teaser div.field-item>a>img { z-index:-2;}
article.node-teaser div.field-item>a::after,.thumbnail>a::after,.thumbnail .field-item>a::after { content: " "; display:block; position:absolute; z-index:0; 
    transition: all 500ms; background:rgba(0,0,0,0.3);top:0;bottom:0;left:0;right:0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0+1,0.03+26,0.4+71,0.5+100 */
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(252,252,252,0) 1%, rgba(188,188,188,0.03) 26%, rgba(74,74,74,0.4) 71%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(252,252,252,0) 1%,rgba(188,188,188,0.03) 26%,rgba(74,74,74,0.4) 71%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(252,252,252,0) 1%,rgba(188,188,188,0.03) 26%,rgba(74,74,74,0.4) 71%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}

article.node-teaser.node-video div.field-item>a::after {
	content: "\e072";
	font-family: "GLYPHICONS Halflings";
	font-size: 3.5vw;
	text-shadow:0 0 6px #000;color: #eef;
	padding-top:5vw;
	text-align:center;
}


/* Dynamic effect */
article.node-teaser:hover div.field-item a::after,.thumbnail:hover>a::after,.thumbnail .field-item:hover>a::after {
	background-color:rgba(0,0,0,0.65);
}

article.node-teaser>header { margin:0; }
article.node-teaser>header>h2 { position:absolute;bottom:0;left:0;right:0;padding:0 2vw 2em 2vw;text-align:center;z-index:1;font-size:inherit;}
article.node-teaser>header>h2>a { color:#fff; text-shadow: 0 0 6px rgb(0,0,0)}

article.node-video.node-teaser>header>h2 { position:static; margin:0; padding: 0; }
article.node-video.node-teaser>header>h2>a { color:#333; text-shadow: none; text-transform: none; height:3.5em; overflow:hidden;display:block;}

/* Section */
.page-taxonomy article.node { width:33.3333%; float: left; padding:1.5vw;margin:0;font-size: 1.5vw;}
.page-taxonomy article.node>div.field p,.page-taxonomy article.node>header>.submitted, 
.page-taxonomy article.node>footer, .page-taxonomy .field.field-name-body.field-type-text-with-summary.field-label-hidden { display: none }
.page-taxonomy article.node-video.node-teaser { margin-top: 2em; }

/* Pager */

.pagination>li.active>span,
.pagination>li.active>span:hover { border:solid 1px #888;background:#ddd;color:#333;}
.pagination>li>a:hover { color:black;}

/* Article header */
#block-views-page-header-1-block { position: relative; }
#block-views-page-header-1-block .views-row { max-height: 66vh; min-height: 30vh; overflow:hidden; position:relative; background:#333;}
#block-views-page-header-1-block .views-field-title { position: absolute; display:block; top:0; bottom:0; left:0;right:0;background: rgba(0,0,0,0.3); z-index: 1; margin:0; text-align:center;vertical-align:middle}
#block-views-page-header-1-block .views-field-title h1 { padding:0;margin:0; color:#fff;vertical-align:middle;position:absolute;bottom:2em;left:15%;right:15%;text-transform: uppercase;text-align:center;line-height:1.1em;}
#block-views-page-header-1-block img { width: 100%; min-width:600px; z-index:-1; margin-top:-15%; text-align:center;}

#block-views-page-header-1-block .views-field-field-image p { position:absolute; bottom: 0.5vw;	color: #fff; font-size:0.8vw; left: 70%; line-height: 1;}
#block-views-page-header-1-block .views-field-field-image p strong { display:block;}

.node-type-article h1.page-header {display:none;}

/* Gallery header */
#block-views-gallery-header-1-block { position: relative; }
#block-views-gallery-header-1-block .views-row { max-height:66vh; overflow:hidden; position:relative;background:#333;}
#block-views-gallery-header-1-block .views-field-title { position: absolute; display:block; top:0; bottom:0; left:0;right:0;background: rgba(0,0,0,0.3); z-index: 1; margin:0; text-align:center;vertical-align:middle}
#block-views-gallery-header-1-block .views-field-title h1 { padding:0;margin:0; color:#fff;vertical-align:middle;position:absolute;bottom:2em;left:15%;right:15%;text-transform: uppercase}
#block-views-gallery-header-1-block img { width: 100%; min-width:600px; z-index:-1; margin-top:-15%; text-align:center;}
.node-type-gallery h1.page-header {display:none;}

/* Page content */
#block-system-main { padding:15px; margin: 2em auto;}
article.node .field-name-body { max-width: 800px; margin:auto; padding:0; border: 0;overflow:hidden;position:relative; margin-bottom: 30px; text-align:justify;text-align-last: left;}
article img { width: 100% }
article header {margin: 0.5em 0;text-align:right;}
article footer { display:none; }

/* Video player*/
.field div.player { text-align:center; text-align-last: center; margin: 2em auto;}

/*InstantFoto*/
.x-instantphoto img { width:100%; }
.x-instantphoto .summary.title { font-size:1.5em; text-align: center; }
.x-instantphoto .summary.title a { color : #333; }
.x-instantphoto .summary { padding: 1em 15% 0 15%; display: block; text-align:justify;text-align-last: center;}

/*Footer*/
.footer {background-color: #333; color: #e3e3e3;height:8vw; }
.region-footer {max-width: 80vw; margin: auto; margin-top: 1vw;}
.region-footer p{margin: 0.1vw;font-size: 0.8vw;}
#block-system-user-menu h2 {display: none;}
#block-system-user-menu>.menu {display: block; text-align: center;position: absolute; bottom: 2.8vw; 
   right:1vw; background-color: #787878;border-radius: 4px; padding: 0!important;}
#block-system-user-menu>.menu a { color: #333; font-weight: 700; font-size:0.9vw;padding: 0.3vw!important;}


#block-block-1{display: block; float: left;width: 50vw; height: 6vw; margin: 0.5vw;}
#block-block-1 p{display: block;float: left;padding-right: 1vw;text-align: center;width:23vw;}
#block-block-1 p:nth-child(1) {height:6vw;width:26vw;text-align: justify;}
#block-block-3 {display: block; float: left;width: 26vw;padding-right: 2vw; margin:0.5vw;text-align: justify;}

@media (max-width: 991px) {
	body{font-weight:300; font-size:13px/13px;}
	.navbar-brand{padding-top: 11px;}
	.page-taxonomy article.node { width:50%; font-size:2vw;}
	.thumbnail .caption>h3 { font-size: 1.8vw; }
	.x-videos .thumbnail .caption .play-btn, 
	.x-videos .thumbnail .caption .play-btn>a:hover{font-size: 6vw;margin: 10vw auto;}
	article.node-teaser.node-video div.field-item>a::after {font-size: 6vw;padding-top:8vw;}
	
	.footer { height: auto; }
	.region-footer p {font-size:1.5vw;}
	#block-block-1,#block-block-3,#block-block-1 p { float: none; width:auto!important; height:auto!important;}
	#block-system-user-menu>.menu a { font-size:1.5vw;}
	#block-views-page-header-1-block .views-field-field-image p {font-size:1.5vw;}
	
}

@media (max-width: 767px) {
	body{font-weight:300; font-size:12px/12px;}
	h2 {font-size:1.5em;}
	h4 {font-weight: 300; font-size: 1.3em;}

	.navbar-nav > li > a {line-height: 1em;}	
	.navbar-brand{padding: 7px;margin:0;float:left;}
	.navbar-brand img{height: 37px;}
	.navbar-toggle{margin-top: 12px;}
	.navbar-collapse { background: #333; border-color:#666!important;	}

	a.skip-link { font-size:3vw; }

	h2.text-center{text-align: left;font-size: 1.7em;}

	.thumbnail .caption>h3 { font-size: 3.6vw; }
	.page-taxonomy article.node { width:100%; font-size:4vw;}
	
	.x-videos .thumbnail .caption .play-btn, 
	.x-videos .thumbnail .caption .play-btn>a:hover{font-size: 10vw;margin: 18vw auto;}
	article.node-teaser.node-video div.field-item>a::after {font-size: 10vw;padding-top:16vw;}

}
